* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

html,
body {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d5e1ef;
  height: 100%;
}

.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 320px;
  max-height: 600px;
  border-radius: 20px;
  padding: 16px;
}

img {
  display: flex;
  width: 288px;
  border-radius: 24px;
  margin: 0 0 40px;
}

.title-text {
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
  gap: 24px;
}

.text-title {
  color: #1f314f;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 120%;
  letter-spacing: 0px;
}

p {
  color: #68778d;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 16px 0;
}

.attribution {
  text-align: center;
  font-size: 14px;
  text-wrap: wrap;
  color: #68778d;
  margin-top: 20px;
}
